input[type="text"],
.pokemonReturn {
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.input-container {
  text-align: center; 
  padding: 10px;
  width: 50%;
  margin: 0 auto; 
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.pokemonReturn { 
  background-color: rgb(170,230, 230);
}

.pokemonReturn h2 {
  display: inline; 
  margin-right: 10px; 
  font-size: 16px;
}

.pokemonReturn img {
  max-width: 50px;
  max-height: 100px;
  vertical-align: middle; 
  margin-top: 10px;
}
